<!DOCTYPE html>
<html>
   <head>
      <meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">     
	  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<title>Usuarios</title>
   </head>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
   <body ng-app="app" style="padding: 10px">
   <div class="container">
   <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
             
    
		 <div class="navbar-header">
			<img src="https://www.bing.com/th?id=OIP.PUZsl_w9Y997XKg-H3ee6gAAAA&pid=Api&rs=1" class="img-circle" height="42" width="42">
		</div>  
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
  <div class="container mt-5">
  <div class="row">
      <div ng-controller="myctrl" align="right" class="col-md-8">
	  <table width="100%">
		<tr>
			<td align="left">
				<h1>Usuarios</h1>
			</td>
			<td align="right">
				<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Buscador por nombre" title="Escriba un nombre" align="right">
			</td>
		</tr>      	  
	  </table>
      <table datatable="ng" class="table table-bordered table-striped" id="myTable">
         <thead>
            <tr>
               <th>Id</th>
               <th>Nombre</th>
               <th>Username</th>
               <th>Ciudad</th>
            </tr>
         </thead>
         <tbody>
            <tr dt-rows ng-repeat="todo in pagedTodos">
               <td>{{ todo.id }}</td>
			   <td>{{ todo.name }}</td>
			   <td>{{ todo.username }}</td>
			   <td>{{ todo.address.city }}</td>              
            </tr>
         </tbody>
      </table>
      <div> 
         <button class="btn btn-default" ng-click="goPage(lower-1)"><span>Anterior</span></button>
         <button class="btn btn-info" ng-click="goPage(lower)"><span>{{lower}}</span></button>
         <button ng-if="showUpper" class="btn btn-default" ng-click="goPage(upper)"><span>{{upper}}</span><span></span></button>
         <button class="btn btn-default" ng-click="goPage(upper)"><span>Siguiente</span></button>
      </div>
	  </div>
	  <div align="right" class="col-md-4 overflow-auto" style="height:450px;">
	<!-- Call to Action Well -->
			<div class="card text-black bg-secondary my-3 py-2 text-center">
			<div class="card-body mx-0 px-0 py-0">
			<div class="row overflow-auto" id="postsDiv">

			</div>
      </div>
    </div>
	  </div>
	  </div>
      <script>
         var app = angular.module("app",[]);
            app.controller("myctrl",["$scope", "$http", function($scope, $http){
            
            	var pageCount  = 1;
                var currentPage = 1;
                var pageSize = 5;
                
            	$scope.lower = 1;
                $scope.upper = 2;
                $scope.showUpper = false;
                
                $scope.pagedTodos = [];
                var allTodos = [];
                
                $http.get("https://jsonplaceholder.typicode.com/users")
                      .then(function(response) {
                          allTodos = response.data;
                          pageCount = Math.ceil(allTodos.length / pageSize);
                          $scope.goPage(1);
                      });
                
                $scope.goPage = function(page){
               		 	$scope.pagedTodos = allTodos.slice((page -1) * pageSize , page * pageSize);
                	updatePagerStatus(page);
                }
               
                
                var updatePagerStatus = function(pNewPage){
                	currentPage =  pNewPage;
                    $scope.showUpper = pageCount > 1;
                	$scope.lower = currentPage;
                    $scope.upper = currentPage + 1;
                }
                
            }]);
			
function myFunction() {
  var input, filter, table, tr, td, i;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[1];
    if (td) {		
      if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
	 
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }       
  }
}
function getData(){
var div=document.getElementById("postsDiv");
var con=0;
	let xhr= new XMLHttpRequest();
	xhr.open('GET','https://jsonplaceholder.typicode.com/posts',true);
	xhr.onload=function(){
		if(this.status===200){
			let data = JSON.parse(this.responseText);
			console.log(data);
			for (let index =0; index < 6; index++) {
				div.innerHTML +=`
				<div class="col-10 text-black card bg-light mx-auto border border-white">
						<div class="card-body text-black">
						<div class="row text-left">
						<p class="card-title text-black">TITLE: ${data[con].title}</p>
						</div>
						<div class="row">
							<div class="col-6">
								<img src="Imagenes/foto${data[con].id}.jpg" class="img-responsive" alt="" style="width:100%"></img>
							</div>
							<div class="col-6 text-left">
								<div class="row">
									<p class="card-title text-black">${data[con].body}</p>		
								</div>
								<div class="row">
									<button id="btnTest" type="button" class="btn btn-primary btn-sm">Bajada</button>
								</div>																			
							</div>											
						</div>							
						</div>
					</div>`
				con=con+1;			
			}
		}
	}
	xhr.send();
}
getData();
      </script>
   </body>
   <footer class="py-5 footer-light bg-light">
    <div class="container">
	<!-- Grid row-->
    <div class="row">
      <!-- Grid column -->
      <div class="col-md-12 py-2 pull-right">
        <div class="mb-1 flex-end text-right">
			<a href="#" class="fa fa-facebook px-2"></a>
            <a href="#" class="fa fa-twitter px-2"></a>
			<a href="#" class="fa fa-linkedin px-2"></a>			
        </div>
      </div>
    </div>
    </div>
    <!-- /.container -->
	<!-- Copyright -->
  <div class="footer-copyright text-left py-3">
	<p class="m-0 text-center text-black">Copyright &copy; Mi sitio 2019</p>
  </div>
  </footer>
</html>